.main_chat
  .main_chat__header
    .main_chat__header__contents
      %p.main_chat__header__contents__name
        = @group.name
      %p.main_chat__header__contents__list
        Member :
        - @group.users.each do |user|
          = user.name
    = link_to  edit_group_path(@group) , class: "main_chat__header__btn" do 
      Edit
  
  .main_chat__centers
    = render @messages
      
      
  .main_chat__form
    = form_for [@group, @message] do |f|
      .input-box
        = f.text_field :content, class: 'input-box__text', placeholder: 'type a message'
        .input-mask
          = f.label :image, class: 'input-image' do
            = icon('fas','image', class: 'icon')
            = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'submit'